service setgsiprop /odm/bin/setgsiprop
    user root
    oneshot
    disabled

on post-fs
    start setgsiprop


on property:ro.odm.build.fingerprint.oppo=*
   setprop ro.odm.build.fingerprint ${ro.odm.build.fingerprint.oppo}
   setprop ro.vendor.build.fingerprint ${ro.odm.build.fingerprint.oppo}

on property:ro.odm.manufacturer.oppo=*
   setprop ro.product.odm.manufacturer ${ro.odm.manufacturer.oppo}
   setprop ro.product.vendor.manufacturer ${ro.odm.manufacturer.oppo}

on property:ro.odm.model.oppo=*
   setprop ro.product.odm.model ${ro.odm.model.oppo}
   setprop ro.product.vendor.model ${ro.odm.model.oppo}

on property:ro.odm.brand.oppo=*
   setprop ro.product.odm.brand ${ro.odm.brand.oppo}
   setprop ro.product.vendor.brand ${ro.odm.brand.oppo}

on property:ro.odm.name.oppo=*
   setprop ro.product.odm.name ${ro.odm.name.oppo}
   setprop ro.product.vendor.name ${ro.odm.name.oppo}

on property:ro.odm.device.oppo=*
   setprop ro.product.odm.device ${ro.odm.device.oppo}
   setprop ro.product.vendor.device ${ro.odm.device.oppo}

